@media(max-width: 767px){
.disappear{
  display: none;
}

}

@media(min-width: 767px){
  .spill-row{
    position: relative;
  }
  .spill-card{ 
    position: absolute;
    right: 5rem;
    top: 4rem;
    box-shadow: 0 1rem 3rem black;
    border-radius: .25em !important;
  }
}
.bg-green{
  background-color: #0b492c;
}



.padding-green{
padding-left: green;
}

.bg-img{
  background-image: url("https://wallpapercave.com/wp/rHRQPiD.jpg");
  background-size: cover;
}

img.title-img{
max-height: 50px;
max-width: 50px;
}

.long-img{
 max-height: 600px;
 
}

.quote-card-small{
  height: 175px;
}

.elvish-font{
  font-family: 'Tangerine', cursive;
}